---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14hSD4LJUrOSUSj6cVw2Rlww&email=john%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_Kyco67cG8bkPTFsZW7iJlFvX
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1411851270,
          "id": "cus_4rAYZQL03NOpDm",
          "livemode": false,
          "description": null,
          "email": "john@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4rAYZQL03NOpDm/subscriptions",
            "data": [
              {
                "id": "sub_4rAYfVpjCqNK0Q",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1411845335,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "Myflix"
                },
                "object": "subscription",
                "start": 1411851270,
                "status": "active",
                "customer": "cus_4rAYZQL03NOpDm",
                "cancel_at_period_end": false,
                "current_period_start": 1411851270,
                "current_period_end": 1414443270,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4rAYZQL03NOpDm/cards",
            "data": [
              {
                "id": "card_14hSD4LJUrOSUSj65fuFmMVY",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2018,
                "fingerprint": "w5v5eMmpgfUvy4fe",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4rAYZQL03NOpDm"
              }
            ]
          },
          "default_card": "card_14hSD4LJUrOSUSj65fuFmMVY"
        }
  recorded_at: Sat, 27 Sep 2014 20:54:31 GMT
recorded_with: VCR 2.9.3
