---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14hn4ULJUrOSUSj6JuMKNGhS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Kyco67cG8bkPTFsZW7iJlFvX
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14hn4ULJUrOSUSj6JuMKNGhS",
          "created": 1411931462,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_14hn4ULJUrOSUSj62rfFNFsz",
              "object": "charge",
              "created": 1411931462,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14hn4SLJUrOSUSj6E0sX38n6",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 9,
                "exp_year": 2016,
                "fingerprint": "w5v5eMmpgfUvy4fe",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4rW6JKHoMok032"
              },
              "captured": true,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14hn4ULJUrOSUSj62rfFNFsz/refunds",
                "data": []
              },
              "balance_transaction": "txn_14hn4ULJUrOSUSj6Oif2TZQU",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_4rW6JKHoMok032",
              "invoice": "in_14hn4ULJUrOSUSj63Kh52N9t",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": "Myflix",
              "receipt_email": null,
              "receipt_number": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4rW6mN3z5fvoYq"
        }
  recorded_at: Mon, 29 Sep 2014 15:28:53 GMT
recorded_with: VCR 2.9.3
