---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14iAqFLJUrOSUSj6TCNEkUAJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Kyco67cG8bkPTFsZW7iJlFvX
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14iAqFLJUrOSUSj6TCNEkUAJ",
          "created": 1412022835,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_14iAqFLJUrOSUSj6DCCgwwPV",
              "object": "charge",
              "created": 1412022835,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14iAngLJUrOSUSj694wbE57Q",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 9,
                "exp_year": 2018,
                "fingerprint": "3HFeGIluAqd9wOmq",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4ruZ5fC5Izs1bd"
              },
              "captured": false,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14iAqFLJUrOSUSj6DCCgwwPV/refunds",
                "data": []
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_4ruZ5fC5Izs1bd",
              "invoice": null,
              "description": "payment to fail",
              "dispute": null,
              "metadata": {},
              "statement_description": "payment to fail",
              "receipt_email": null,
              "receipt_number": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4rufGdlzJmosGi"
        }
  recorded_at: Tue, 30 Sep 2014 00:24:00 GMT
recorded_with: VCR 2.9.3
