---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Kyco67cG8bkPTFsZW7iJlFvX
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14fz7MLJUrOSUSj6XmB13cqb",
          "livemode": false,
          "created": 1411501112,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14fz7MLJUrOSUSj6zzNrAmkt",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2018,
            "fingerprint": "w5v5eMmpgfUvy4fe",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Tue, 23 Sep 2014 19:38:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14fz7MLJUrOSUSj6XmB13cqb&description=a%20valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_Kyco67cG8bkPTFsZW7iJlFvX
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14fz7NLJUrOSUSj6xY4bjIfl",
          "object": "charge",
          "created": 1411501113,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14fz7MLJUrOSUSj6zzNrAmkt",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2018,
            "fingerprint": "w5v5eMmpgfUvy4fe",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14fz7NLJUrOSUSj6xY4bjIfl/refunds",
            "data": []
          },
          "balance_transaction": "txn_14fz7NLJUrOSUSj6jnMrSbmc",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "a valid charge",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "receipt_number": null
        }
  recorded_at: Tue, 23 Sep 2014 19:38:33 GMT
recorded_with: VCR 2.9.3
