---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=9&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Kyco67cG8bkPTFsZW7iJlFvX
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14iEQnLJUrOSUSj6Sfjexz1v",
          "livemode": false,
          "created": 1412036633,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14iEQnLJUrOSUSj6R9TUfxEE",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2018,
            "fingerprint": "4H2yy377Ugv4lJXH",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Tue, 30 Sep 2014 00:23:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14iEQnLJUrOSUSj6Sfjexz1v&email=christa%40pricemoen.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_Kyco67cG8bkPTFsZW7iJlFvX
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Tue, 30 Sep 2014 00:23:54 GMT
recorded_with: VCR 2.9.3
