---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Kyco67cG8bkPTFsZW7iJlFvX
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14iEQoLJUrOSUSj6bX0CtF9q",
          "livemode": false,
          "created": 1412036634,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14iEQoLJUrOSUSj6mtBfMIRk",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2018,
            "fingerprint": "w5v5eMmpgfUvy4fe",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Tue, 30 Sep 2014 00:23:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14iEQoLJUrOSUSj6bX0CtF9q&email=corene.koepp%40kreiger.net&plan=base
    headers:
      Authorization:
      - Bearer sk_test_Kyco67cG8bkPTFsZW7iJlFvX
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1412036635,
          "id": "cus_4ryNZr2BQ8TMtL",
          "livemode": false,
          "description": null,
          "email": "corene.koepp@kreiger.net",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4ryNZr2BQ8TMtL/subscriptions",
            "data": [
              {
                "id": "sub_4ryN1lmnIH4mY8",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1411845335,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "Myflix"
                },
                "object": "subscription",
                "start": 1412036635,
                "status": "active",
                "customer": "cus_4ryNZr2BQ8TMtL",
                "cancel_at_period_end": false,
                "current_period_start": 1412036635,
                "current_period_end": 1414628635,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4ryNZr2BQ8TMtL/cards",
            "data": [
              {
                "id": "card_14iEQoLJUrOSUSj6mtBfMIRk",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 9,
                "exp_year": 2018,
                "fingerprint": "w5v5eMmpgfUvy4fe",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4ryNZr2BQ8TMtL"
              }
            ]
          },
          "default_card": "card_14iEQoLJUrOSUSj6mtBfMIRk"
        }
  recorded_at: Tue, 30 Sep 2014 00:23:55 GMT
recorded_with: VCR 2.9.3
